extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let facultyid = toShow._id
  - let Cust_Name = toShow.Cust_Name
  - let Cust_Age = toShow.Cust_Age
  - let Mail_Id = toShow.Mail_Id
  - let actionid = "/resource/faculty/" + facultyid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='facultyAttr mr-3') faculty ID is:
    div #{facultyid}
   div.row
    div(class='facultyAttr mr-3') faculty Name is:
    div #{Cust_Name}
   div.row
    div(class='facultyAttr mr-3') faculty Age is:
    div #{Cust_Age}
   div.row
    div(class='facultyAttr mr-3') faculty Mail is:
    div #{Mail_Id}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the faculty collection
  window.location.href='/faculty'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Delete succeded")
   window.location.href='/faculty'
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
    alert("Delete failed " + error )
   });
  }