extends layout

block content
    h1= title
    - var faculty=results
      div.container-fliud
      div.row
        each item,ind in faculty 
          div(class='col-sm-2' onclick=`buy(${ind})`) 
            p Name  is #{item.Cust_Name}
            p Age  is #{item.Cust_Age}
            p Mail_Id: #{item.Mail_Id}

    
        